<label for="child">Click me (child control)</label>
<input id="child" type="checkbox" @bind="@LocalValue" />


@code {
    bool LocalValue { get { return Value; } set { ValueChanged?.Invoke(value); } }

    [Parameter] protected bool Value { get; set; }

    [Parameter] protected Action<bool> ValueChanged { get; set; }
}