<label for="child">Click me (child control)</label>
<input id="child" type="checkbox" bind="@LocalValue" />


@functions {
bool LocalValue { get { return Value; } set { Callback?.Invoke(value); } }
[Parameter] protected bool Value { get; set; }
[Parameter] protected Action<bool> Callback { get; set; }
}