<label for="child">Click me (child control)</label>
<input id="child" type="checkbox" bind="@Value" />


@functions {
[Parameter] protected bool Value { get; set; }
[Parameter] protected Action<bool> ValueChanged { get; set; }
}