@using BlazorBinding.Pages
<label for="child">Click me (child control)</label>
<input id="child" type="checkbox" bind="@Value" />


@functions {
  [CascadingParameter(Name = "ParentValue")] CascadeCallbackModel ParentData { get; set; }

  bool Value
  {
      get
      {
          return ParentData.ParentValue;
      }
      set
      {
          ParentData.AddEvent("Child", $"Bound Value Changed {value}");
          Callback?.Invoke(value);
      }
  }
  [Parameter] protected Action<bool> Callback { get; set; }
}