<label for="child">Click me (child control)</label>
<input id="child" type="checkbox" @bind="@Value" />


@code {
[Parameter] public bool Value { get; set; }

[Parameter] public Action<bool> ValueChanged { get; set; }
}