@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    --app-animation: LOADED;
}

    app:not(:empty)::after {
        content: "";
        animation: var(--app-animation) 1s ease-in;
    }

    app:empty {
        display: grid;
        height: 100vh;
        width: 100vw;
        font-size: xx-large;
        grid-template-columns: 100vw;
        grid-template-rows: 100vh;
        line-height: 100vh;
        text-align: center;
        vertical-align: middle;
        background-color: var(--gray);
        color: var(--white);
    }

        app:empty::before {
            content: "Loading WebAssembly";
            grid-row: 1;
            grid-column: 1;
            animation: LOADING 1s infinite alternate;
        }

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Docs */
.card {
    margin-bottom: 5px;
}

    .card input[type=checkbox]:not(.form-check-input) {
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
    }

.code-highlight {
    overflow: auto;
    background: rgba(2,2,2,0.1);
    color: #000;
    padding: 5px 5px;
    border-left: 20px solid rgba(2,2,2,0.3);
}

    .code-highlight pre {
        color: #000;
        margin: 0;
    }

.callout-parent {
    border-left: 5px solid #17a2b8;
    padding-left: 5px;
}

.callout-child {
    border-left: 5px solid #ffc107;
    padding-left: 5px;
}

.ping-on {
    -webkit-animation-name: ping; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: ping;
    animation-duration: 1s;
}

.ping-off {
    -webkit-animation-name: ping-off; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: ping-off;
    animation-duration: 1s;
}

span[class^="ping-date-"] {
    -webkit-animation-name: ping-off; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: ping-off;
    animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes ping {
    0% {
        background-color: white;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}
/* Standard syntax */
@keyframes ping {
    0% {
        background-color: white;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}

@-webkit-keyframes ping-off {
    0% {
        background-color: white;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}
/* Standard syntax */
@keyframes ping-off {
    0% {
        background-color: white;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: white;
    }
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        min-width: 330px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

@keyframes LOADING {
    0% {
        content: "Loading WebAssembly";
    }

    20% {
        content: ".Loading WebAssembly.";
    }

    40% {
        content: "..Loading WebAssembly..";
    }

    60% {
        content: "...Loading WebAssembly...";
    }

    80% {
        content: "....Loading WebAssembly....";
    }

    100% {
        content: ".....Loading WebAssembly.....";
    }
}

@keyframes LOADED {
    0% {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 900;
        background-color: var(--gray);
        opacity: 1;
    }

    100% {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        background-color: var(--gray);
        opacity: 0;
    }
}
