@page "/"

<h1>Data Binding Examples</h1>

<hr />
<div class="card">
    <h5 class="card-header">Changelog</h5>
    <div class="card-body">
        <div class="card">
            <h6 class="card-header">5th December 2018</h6>
            <div class="card-body">
                <p class="card-text">Now using a new DisplayCode component that is simpler and highlights syntax</p>
                <div class="form-group callout-child">
                    <DisplayCode Code="@(new[] {
                "<DisplayCode Code=\"@(new[] {\"<input id=\"parent\" type=\"checkbox\" bind=\"@ParentValue\" />\"})\" />",
                })" />
                </div>
            </div>
        </div>
    </div>
</div>
