@page "/sugg"
@using GenFu
<span>There are @values?.Count names.</span>
<AutoComplete AllowedValues="@values">
    <ListItemContent>
        <span>@context</span>
    </ListItemContent>
</AutoComplete>

<AutoComplete AllowedValues="@values">
    <ListItemContent>
        <span>@context</span>
    </ListItemContent>
</AutoComplete>

@functions
{
List<string> values = A.ListOf<Person>(1000).Select(p => p.FirstName).Distinct().ToList();
class Person
{
    public string FirstName { get; set; }
    public Person()
    {

    }
}
//
}
