<div class="card">
    <h5 class="card-header">@Header</h5>
    <div class="card-body">
        <p class="card-text">@Introduction</p>
        @ChildContent
    </div>
</div>

@functions {

    [Parameter] public string Header { get; set; }

    [Parameter] public string Introduction { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

}