@using BlazorBinding.Services
@using Microsoft.AspNetCore.Components.Browser
@inject ICodeHighlighter CodeHighlighter

<div class="code-highlight-wrap">
    <a class="btn-sm btn btn-light" onclick="@ToggleCode">@ToggleText code</a>
    <div class="code-highlight" style="@ToggleCss">
        @CodeMarkup
    </div>
</div>

@functions {
bool displayCode = false;
[Parameter] protected string Language { get; set; } = "HTML";
[Parameter] protected string[] Code { get; set; }

private MarkupString CodeMarkup
{
    get
    {
        switch (Language.ToUpper())
        {
            case "HTML":
                return (MarkupString)CodeHighlighter.HighlightHtml(string.Join("\n", Code));
            case "CSHARP":
                return (MarkupString)CodeHighlighter.HighlightCSharp(string.Join("\n", Code));
        }
        return (MarkupString)string.Join("\n", Code);
    }
}

string ToggleCss => displayCode ? "display:block" : "display:none";
string ToggleText => displayCode ? "hide" : "show";
void ToggleCode()
{
    displayCode = !displayCode;
    StateHasChanged();
}

}