
<div class="code-highlight">
    <pre>
        <code>
            @ChildContent
        </code>
    </pre>
</div>

@functions {

    [Parameter] protected RenderFragment ChildContent { get; set; }

}